* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }

.sk-circle {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
  }
  .sk-circle .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .sk-circle .sk-child:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
            animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  }
  .sk-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg); }
  .sk-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
            transform: rotate(60deg); }
  .sk-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }
  .sk-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
            transform: rotate(120deg); }
  .sk-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
            transform: rotate(150deg); }
  .sk-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
  .sk-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
        -ms-transform: rotate(210deg);
            transform: rotate(210deg); }
  .sk-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
            transform: rotate(240deg); }
  .sk-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg); }
  .sk-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
        -ms-transform: rotate(300deg);
            transform: rotate(300deg); }
  .sk-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
        -ms-transform: rotate(330deg);
            transform: rotate(330deg); }
  .sk-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s; }
  .sk-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
            animation-delay: -1s; }
  .sk-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s; }
  .sk-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s; }
  .sk-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
            animation-delay: -0.7s; }
  .sk-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s; }
  .sk-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s; }
  .sk-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s; }
  .sk-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s; }
  .sk-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s; }
  .sk-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
            animation-delay: -0.1s; }
  
  @-webkit-keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
              transform: scale(0);
    } 40% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  @keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
              transform: scale(0);
    } 40% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

  * {
    padding:0;
    margin:0;
  }
  
  body {
    color: #333;
    font: 14px Sans-Serif;
    padding: 50px;
    background: #eee;
  }
  
  h1 {
    padding: 20px 0 12px 0;
    margin: 0;
  }
  h2 {
    font-size: 16px;
    text-align: center;
    padding: 0 0 12px 0; 
  }
  
  .container {
    box-shadow: 0 5px 10px -5px rgba(0,0,0,0.5);
    position: relative;
    background: white;
    max-width: 700px;
    margin: 0 auto;
    padding: 10px;
  }
  
  table {
    background-color: #F3F3F3;
    border-collapse: collapse;
    width: 100%;
    margin: 15px 0;
  }
  
  th {
    background-color: #0a0066;
    color: #FFF;
    cursor: pointer;
    padding: 5px 10px;
  }
  
  th small {
    font-size: 9px; 
  }
  
  td, th {
    text-align: left;
    padding: 10px;
  }
  




  a{
    color: #f2f2f2;
    padding: 10px 12px;
    font-size: 17px;
    text-decoration: none;
}
a:hover {
    background-color: #ddd;
    color: black;
  }
  a.active {
    background-color: #04AA6D;
    color: white;
  }

  .title{
    top: 0;
    width: 100%;
    z-index: 1;
    display: block;
    position: absolute;
    background-color: #444444;
    color: white;
   margin: 0;
   padding: 5px;
}
  






  td a {
    color: #0a0066;
    display: block;
    padding: 5px 10px;
  }
  th a {
    padding-left: 0
  }
  
  td:first-of-type a {
    padding-left: 35px;
  }

  th:first-of-type {
    padding-left: 35px;
  }
  
  td:not(:first-of-type) a {
    background-image: none !important;
  } 
  
  tr:nth-of-type(odd) {
    background-color: #E6E6E6;
  }
  
  tr:hover td {
    background-color:#CACACA;
  }
  
  tr:hover td a {
    color: #000;
  }

.btn {
  display: block;
  padding: 1em 1em;
  color: #fff;
  background: rgb(53, 45, 43);
  border-radius: .4em;
  transition: background .3s;
  cursor: pointer;
  border: aliceblue;
  float: right;  
}

.upload {
  margin-top: 9px;
  float: right;  
}
