
a{
    color: #f2f2f2;
    padding: 10px 12px;
    font-size: 17px;
    text-decoration: none;
}
a:hover {
    background-color: #ddd;
    color: black;
  }
  a.active {
    background-color: #04AA6D;
    color: white;
  }
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #F8F8F8;
    font-family: 'Roboto', sans-serif;
}
section.chat__section {
    width: 800px;
    max-width: 30%;
    background: #fff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.brand {
    padding: 20px;
    background: #f1f1f1;
    display: flex;
    align-items: center;
}
.brand h1 {
    text-transform: uppercase;
    font-size: 20px;
    color: #444;
    margin-left: 10px;
}
.message__area{
    height: 500px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 40px;
}
textarea {
    width: 100%;
    border: none;
    padding: 20px;
    font-size: 16px;
    outline: none;
    background: #FBFBFB;
}

.message {
    padding: 20px; 
    border-radius: 4px; 
    margin-bottom: 40px;
    max-width: 300px;
    position: relative;
}
.incoming {
    background: #8F8BE8;
    color: #fff;  
}
.outgoing {
    background: #e9eafd;
    color: #787986;
    margin-left: auto;
}
.message h4 {
    position: absolute;
    top: -20px;
    left: 0;
    color: #333;
    font-size: 14px;
}

















.title{
    top: 0;
    width: 100%;
    z-index: 1;
    display: block;
    position: absolute;
    background-color: #444444;
    color: white;
   margin: 0;
   padding: 5px;
}

.entry-modal{
    border: 1px solid #444444;
    width: 300px;
    /* margin: auto; */
    /* z-index: 9999; */
    top: 70;
    margin-left: 150px;
    padding: 5px;
    color: #fff;
    background-color: #444444;
    text-align: center;
}

#notification{
    position: absolute;
    z-index: 1;
    text-align: center;
    color: #fff;
    margin: 0;
    top: 47.33px;
    font-size: 18pt;
    width: 100%;
    background-color: orange;
}


.room-input{
    border: none;
    padding:5px;
  }
  
  button{
      margin: 3px;
      padding: 5px;
  }
  
  #remote-video{
      /* top: 0;
      height: 100%;
      width: 100%;
      left: 0;
      background-color: lightgray;
      position: absolute; */
  }
  
  #local-video{
      top: 60;
      width: 300;
      /* object-fit: cover; */
      /* height: 150;
      z-index: 1;
      right: 15; */
      /* background-color: #444444; */
      /* position: absolute; */
  }






