
a{
    color: #f2f2f2;
    padding: 10px 12px;
    font-size: 17px;
    text-decoration: none;
    transition: 0.5s;

}
a:hover {
    background-color: #ddd;
    color: black;
  }
  a.active {
    background-color: #8C6CE9;
    color: white;
  }
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: absolute;
    /* display:block; */
height:1000px;

}
section.chat__section {
    top:10%;
    left:70%;
    position:inherit;


    width: 800px;
    max-width: 30%;
    background: #fff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 200, 0.05);
}
.brand {
    padding: 20px;
    background: #f1f1f1;
    display: flex;
    align-items: center;
}
.brand h1 {
    text-transform: uppercase;
    font-size: 20px;
    color: #444;
    margin-left: 10px;
}
.message__area{
    height: 500px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 40px;
    
    background-image: url('https://www.teahub.io/photos/full/284-2841044_iphone-wallpaper-dark-purple.jpg');
    background-size: cover;
}
textarea {
    width: 100%;
    border: none;
    padding: 20px;
    font-size: 16px;
    outline: none;
    background: #FBFBFB;
}

.message {
    padding: 20px; 
    border-radius: 4px; 
    margin-bottom: 40px;
    max-width: 300px;
    position: relative;
}
.incoming {
    background: #8F8BE8;
    color: #fff;  
}
.outgoing {
    background: #e9eafd;
    color: #787986;
    margin-left: auto;
}
.message h4 {
    position: absolute;
    top: -20px;
    left: 0;
    color: #e9eafd;
    font-size: 14px;
}


.title{
    top: 0;
    width: 100%;
    z-index: 1;
    display: block;
    position: absolute;
    background-color: #444444;
    color: white;
   margin: 0;
   padding: 5px;
}

.entry-modal{
    display: flexbox;
    border: 1px solid #444444;
    top:10%;
    width: 300px;
    z-index: 1;
    margin-left: 150px;
    position: absolute;
    padding: 5px;
    color: #fff;
    background-color: #444444;
    text-align: center;


 
}

#notification{
    position: absolute;
    z-index: 1;
    text-align: center;
    color: #fff;
    margin: 0;
    top: 47.33px;
    font-size: 18pt;
    width: 100%;
    background-color: orange;
}


.room-input{
    border: none;
    padding:5px;
  }
  
  button{
      margin: 3px;
      padding: 5px;
  }
  
  #remote-video{
    width:30%;
      /* top: 0;
      height: 100%;
      width: 100%;
      left: 0;
      background-color: lightgray;
      position: absolute; */
  }
  
  #local-video{
      /* position:inherit; */
      width:30%;
      /* object-fit: cover; */
      /* height: 150;
      z-index: 1;
      right: 15; */
      /* background-color: #444444; */
      /* position: absolute; */
  }


  .brand{
    background-color: #444444;

  }

 textarea{
    background-color: #444444;

  }


#particles-js
{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* margin: 0px!important; */

    background-image: url('https://www.teahub.io/photos/full/284-2841044_iphone-wallpaper-dark-purple.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: rgb(160, 68, 235);
}
  /* //new */

#meet-area{
    display: flexbox;
    top:20%;
    z-index: 1;
    margin-right: 30%;
    position: absolute;
    padding: 5px;
    color: #fff;

    text-align: center;
}





button{
    text-decoration: none;
}

.cta{
	display:inline-block;
	padding: 4px 8px;
	color:black;
	border: 3px solid rgb(204, 0, 255);
	font-size: 1rem;
	text-transform: uppercase;
  box-sizing: border-box;
  background: radial-gradient(circle,rgb(69, 154, 252)  0%, rgb(74, 156, 254) 50%, rgba(131,58,180,1) 100%);
	letter-spacing: .1rem;
	margin-top: 30px;
  transform: translate(5%, 5%);
	transition: .3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	animation: animate 8s linear infinite
}
@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
.cta:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 40px;
  opacity: 0;
  transition: 0.5s;
}
.cta:hover:before {
  filter: blur(20px);
  opacity: 1;
  animation: animate 8s linear infinite;
}




.ctadj:hover {
	animation: animate 8s linear infinite
}
@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
.ctadj:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 40px;
  opacity: 0;
  transition: 0.5s;
}
.ctadj:hover:before {
  filter: blur(20px);
  opacity: 1;
  animation: animate 8s linear infinite;
}
  






